html,
body {
  background-color: #feeceb;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  padding: 20px 100px 70px 100px;
}
footer {
  padding: 5px 20% 15px 30px;
  border-top: 1px solid darkgray;
  position: fixed;
  bottom: 0px;
  z-index: 99999;
  background-color: #feeceb;
  width: 100%;
  text-align: center;
}

.foliumtooltip table {
  margin: auto;
}
.foliumtooltip tr {
  text-align: left;
}
.foliumtooltip th {
  padding: 2px;
  padding-right: 8px;
}
.leaflet-container {
  font-size: 1rem;
}

#gingernutButtons,
#savoyButtons {
  height: 30px;
  column-count: 4;
}

@media only screen and (max-width: 700px) {
  main {
    padding: 20px 50px 70px 50px;
  }
  #gingernutButtons,
  #savoyButtons {
    column-count: 2;
    height: 60px;
  }
  #savoyButtons {
    height: 30px;
  }
}

#gingernutMap,
#savoyMap {
  width: 100%;
  height: 500px;
}

.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 15px 0px 10px;
  z-index: 9999;
  font-size: 14px;
  background-color: #ffffff;
  opacity: 0.9;
}

.vic-hidden .leaflet-marker-icon .vic-svg {
  display: none;
}
.nsw-hidden .leaflet-marker-icon .nsw-svg {
  display: none;
}
.qld-hidden .leaflet-marker-icon .qld-svg {
  display: none;
}
.sa-hidden .leaflet-marker-icon .sa-svg {
  display: none;
}

.savoy-org-hidden .leaflet-marker-icon .savoy-org-svg {
  display: none;
}
.jatz-org-hidden .leaflet-marker-icon .jatz-org-svg {
  display: none;
}

p.smallCorrection {
  font: italic 90% sans-serif;
}
